body{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:#a2ebe2 ;
}
#heading{
    font-size: 40px;
    background-color: white;
}
#logo{
    height: 100px;
}
.main_div{
    background-color: white;
    padding: 10px;
    border-left: 2.5px solid #a2ebe2;
    border-right: 2.5px solid #a2ebe2;
}
#camera_div{
    border-left: 7.5px solid #a2ebe2;
    border-bottom: 7.5px solid #a2ebe2;
}
#result_div{
    border-right: 8px solid #a2ebe2;
    border-bottom:  7.5px solid #a2ebe2;
}
#camera{
    height: 300px;
    width: 350px;
    border: 1px solid #a2ebe2;
}
#result{
    height: 300px;
    width: 350px;
    border: 1px solid #a2ebe2;
}
.button{
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    background-color: #a2ebe2;
    border: none;
}